/* DriverDetailComponent's private CSS styles */

label {
    display: inline-block;
    width: 7em;
    margin: .5em 0;
    color: var(--color-font-dark);
    font-weight: bold;
}

input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
    border-style: none;
    border-bottom: 1px solid var(--color-font-dark);
}

button {
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: Arial;
    color: var(--color-font-light);
    background-color: var(--color-background-d1);
    border: none;
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
    cursor: hand;
}

button:hover {
    background-color: var(--color-background-d2);
    color: var(--color-font-hover);
}

button:disabled {
    background-color: var(--color-background-l3);
    color: var(--color-font-light);
    cursor: auto;
}