# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
webapp/target
webapp/src/main/ngapp/dist
webapp/src/main/webapp/ng
services/target

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# dependencies
webapp/src/main/ngapp/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
nb-configuration.xml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
pom.xml.versionsBackup

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
